<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="1">
   <listeners>
       <listener class-name="Listeners.TestListners"></listener>
   </listeners>

    <test name="Verimi">
        <classes>
            <class name="testcases.Verimi"></class>
        </classes>
    </test>
</suite>
